<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>

    <link href="https://fonts.googleapis.com/css?family=Vollkorn|Open+Sans|Unica+One" rel="stylesheet">
    <link href="/static/css/foundation.min.css" rel="stylesheet">
    <link href="/static/css/format.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary">

    <meta name="og:title" content="{{ title }}">
    <meta name="og:description" content="{{ description }}">
    <meta name="og:image" content="https://www.veganteaparty.club/static/images/icon.jpg">

    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="https://www.veganteaparty.club/static/images/icon.jpg">

    <meta name="twitter:creator" content="@tripofmice">
    <meta name="twitter:site" content="@tripofmice">
    <meta name="twitter:image:alt" content="Tea, sandwiches, and cookies">
    <meta name="robots" content="index, follow">

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["setDomains", ["*.veganteaparty.club"]]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//piwik.grimoire.org/piwik/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 5]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//piwik.grimoire.org/piwik/piwik.php?idsite=5" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
</head>

<body>
    <header>
        <div class="block">
            <h2><a href="/">Vegan Tea Party Club</a></h2>
        </div>
    </header>
