    <div id="menu" class="block">
        <div class="menu-header">
            <h1>Afternoon Tea Menu</h1>
        </div>

        <div id="items">
            <div class="section">
                <h2>&nbsp;&nbsp;Loading...</h2>
                <div class="row">
                    <div class="columns medium-12">
                        <div class="menu-item">
                            <h3>Loading...</h3>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section menu-footer">
            <h2>the end</h2>
        </div>
    </div>
    <div class="block options">
        <ul>
            <li><a>permalink</a></li>
            <li><a>print</a></li>
        </ul>
    </div>
