* {
    color: #373737;
    margin: 0;
    font-family: 'Vollkorn', serif;
}

body {
    background: #f4f4f4;
    padding: 0 1em;
}

h1, h2 {
    font-family: 'Unica One', sans-serif;
    font-weight: normal;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

h2, h3 {
    text-align: center;
}

a, a:active, a:visited {
    color: #c0b283;
}

a:hover {
    color: #dcd0c0;
}

.block {
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
}

header, footer {
    height: 2em;
    overflow: hidden;
    padding: 0.3em;
}


header h2 {
    float: left;
}

header p {
    float: right;
}

#menu {
    padding: 3em 0 0 0;
}

.menu-header {
    border-bottom: 1px solid #373737;
    margin-bottom: 3em;
}

h1 {
    text-align: center;
}

.section {
    padding-bottom: 1em;
    margin-bottom: 2em;
    position: relative;
    text-align: center;
}

.section::after {
    background: #dcd0c0;
    bottom: -1px;
    content: '';
    height: 1px;
    position: absolute;
    margin-left: -25%;
    width: 50%;
}

#menu > .section:last-child {
    border-bottom: 1px solid #373737;
    padding-bottom: 3em;
    margin-bottom: 1em;
}

#menu > .section:last-child::after {
    height: 0;
}

h2 {
    color: #c0b283;
    font-size: 1.3em;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: normal;
}

#menu p {
    font-style: italic;
}

.menu-item {
    border-radius: 4px;
    padding: 1em;
    position: relative;
    max-width: 25em;
    margin-right: auto;
    margin-left: auto;
}

.menu-item button {
    display: none;
}

.menu-item:hover {
    background: #e9e2d8;
}

.menu-item:hover button {
    display: block;
}

.close-button {
    right: 0.5em;
    top: 0.4em;
    font-size: 1em;
}

.options ul {
    text-align: center;
    padding: 0;
    margin: 0;
}

.options li {
    display: inline-block;
}

.options li::after {
    content: '~';
    padding: 1em;
}

.options li:last-child::after {
    content: '';
    padding: 0;
}

.options {
    padding-bottom: 3em;
}
