<!DOCTYPE html>
<html>

<head>
    <title>Vegan Tea Party Club</title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary">
    {% for card in ['twitter', 'og'] %}
    <meta name="{{ card }}:title" content="Vegan Tea Party Club">
    <meta name="{{ card }}:description" content="Stay tuned!">
    <meta name="{{ card }}:image" content="https://www.veganteaparty.club/static/images/icon.jpg">
    {% endfor %}
    <meta name="twitter:creator" content="@tripofmice">
    <meta name="twitter:site" content="@tripofmice">
    <meta name="twitter:image:alt" content="Tea, sandwiches, and cookies">

    <meta name="robots" content="index, follow">

    <link href='https://fonts.googleapis.com/css?family=Unica+One|Vollkorn' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/styles/format.css" type="text/css">

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["setDomains", ["*.veganteaparty.club"]]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//piwik.grimoire.org/piwik/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 5]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//piwik.grimoire.org/piwik/piwik.php?idsite=5" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
</head>
<body>

    {% block body %}{% endblock %}

</body>
</html>
